body{
    font-family: 'roboto', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.style1{
    position: absolute;
    vertical-align: top;
    scale: 0.1;
    top: 0px;
    right: 0px;
}